@import "utils";

%h2 {
  font-weight: 600;
  font-size: px2rem(30);
  line-height: 1.5;
  color: $primary;
}

%h3 {
  font-weight: 600;
  font-size: px2rem(24);
  line-height: 1.5;
  color: $primary;
}
