// Colors
$primary: #1f81cd;
$white: #fff;
$black: #000;
$gray-700: #565959;
$gray-400: #a2a6ac;

// Shadows
$shadow-buttons: 0 px2rem(2) px2rem(6) 0 rgb(0 0 0 / 20%);

// Breakpoints
$breakpoints: (
  "sm": 375px,
  "md": 1024px,
  "lg": 1440px
) !default;
