# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.idea
__generated__
app/.yalc
app/yalc.lock
app/tsconfig.tsbuildinfo
app/.yarn

# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app//coverage

# next.js
app/.next/
app/out/

# production
app/build

# misc
.DS_Store
*.pem

# debug
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log

# local env files
app/.env.development.local
app/.env.development.local
app/.env.test.local
app/.env.production.local

# vercel
app/.vercel
