{
  "presets": ["next/babel"],
  "plugins": [
    "import-graphql",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [{ "name": "removeViewBox", "active": false }]
        }
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
