@import "partials";

.next-base {
  display: flex;
  flex-direction: column;
  padding: px2rem(20);

  > * {
    margin: px2rem(12) 0;
  }

  form {
    display: flex;
    flex-direction: column;

    > * {
      margin: px2rem(12) 0;
    }
  }
}
